<%- include ("partials/header.ejs") %>
<%- include ("partials/navbar.ejs") %>
    <body>
        <div class="container my-5">
            <div class="p-5 text-center bg-body-tertiary rounded-3">
                <h1 class="text-body-emphasis">Bem vindo!</h1>
                <p class="lead">
                    Este é um blog sobre tecnologia, programação e desenvolvimento de software. Aqui você encontrará artigos, tutoriais e dicas sobre as últimas tendências e melhores práticas na área.
                </p>
            </div>
        </div>

        <%- include ("partials/footer.ejs") %>

    </body>